.btnhv {
  margin: 20px auto;
  border: none;
  padding: 10px 44px;
  font-size: 36px;
  position: relative;
}
.btnhv::before {
  transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  content: "";
  width: 50%;
  height: 100%;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
}
.btnhv .btn-text {
  color: white;
  mix-blend-mode: difference;
}
.btnhv:hover::before {
  background: black;
  width: 100%;
}
.btnhv.rounded {
  border-radius: 50px;
}
.btnhv.rounded .text-green {
  color: #00f0b5;
  mix-blend-mode: difference;
}
.btnhv.rounded::before {
  border-radius: 50px;
  width: 25%;
  background: #00f0b5;
}
.btnhv.rounded:hover::before {
  background: #00f0b5;
  width: 100%;
}
